# Ignore Python cache
__pycache__/

# Ignore VS Code settings
.vscode/

# Ignore log files
*.log
# Python enviorment file
.venv

# Materials for scripts and result
# output_data/*
media/*
models/*
cam1_imgs
cam2_imgs

!cam1_imgs/.gitkeep
!cam2_imgs/.gitkeep
# !output_data/.gitkeep
!media/.gitkeep
!models/.gitkeep